
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 47px;

	&:hover {
		transition: 0.3s;
		max-height: 51px;
	}
 }



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/main/1_hero/atm2.jpg") center top no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
 }

 #hero .hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	top: -50px;
	left: 0;
	right: 0;
	height: 100%;
 }


$title-grey: #e4e4e4;

#hero h1 {
	color: #fff;
	margin-bottom: 40px;
	font-size: 66px;
	font-weight: 300;
 }
 
.b-page-subtitle {
	display: inline;
	animation-delay: 0.6s;
	font-size: 22px;
	color: $title-grey;
	font-size: 22px;
	text-align: center;
}
 
.b-bsu-link {
	color: #fff;

	&:hover {
		font-size: 24px;
		transition: 0.3s;
	}
}

.b-arrow {
	position: relative;
	bottom: 5%;
	left: 0;
	display: inline-block;
	height: 45px;
	width: 45px;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
}
.b-arrow:hover {
	border-bottom-width: 4px;
	border-right-width: 4px;
}

.b-arrow-link {
	display: block;
	width: 100%;
	height: 100%;
}






/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#main {
	margin-top: 80px;

	&.main-page {
		margin-top: 0;
	}
 }
 

.about .icon-box-cyan .icon i {
	color: rgb(104, 164, 196);
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/

.news .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: transparent;
	border: 0;
	padding: 0 30px;
	position: relative;
}

.news .card-img {
	flex: 0 1 380px;
}
 

.news .card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
	box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.2);
	border-radius: 2px;

 }
 
 .news .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	z-index: 10;
	max-width: 92.50%;
	background: #fff;
	border-top: 4px solid #fff;
	padding: 15px 30px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	margin-top: -50px;
	transition: 0.3s;
 }

.news .card-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
	color: #1e4356;
	transition: 0.3s;
 }
 
 
 .news .card-text {
	color: #5e5e5e;
	font-size: 15px;
 }

.news .card-meta .read-more a {
	color: #777777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	transition: 0.3s;
 }
 
 .news .read-more a:hover {
	color: #68A4C4;
 }
 

.news .card-meta .date {
	font-size: 14px;
	color: #1e4356;
 }

@media(max-width: 1400px) {

	.news .card-img {
		flex: 0 1 auto;
	}

}

@media(max-width: 592px) {

	.news .card-body {
		margin-top: -20px;
	}
	
	.news .card-title {
		font-size: 14px;
		margin-bottom: 7px;
	 }
	 
	 .news .card-text {
		font-size: 13px;
		margin-bottom: 7px;
	 }

}

/*--------------------------------------------------------------
# Devices
--------------------------------------------------------------*/

.devices .devices-item {
	background: #1e4356;
	overflow: hidden;
	height: 275px;
	position: relative;
	border-radius: 4px;
	margin: 0 0 30px 0;
 }
 
 .devices .devices-item img {
	transition: all 0.3s ease-in-out;
	object-fit: cover;
	width: 100%;
	height: 100%;
 }
 
 .devices .devices-item .devices-info {
	opacity: 0;
	position: absolute;
	transition: all 0.3s linear;
	text-align: center;
	top: 10%;
	left: 0;
	right: 0;
 }


.b-devices-title {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
 }

.b-devices-description {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}




/*==============================================================
# ONSERVATIONS.HTML
================================================================*/

/*--------------------------------------------------------------
# Annual
--------------------------------------------------------------*/
.annual-info {
	text-align: justify;
	font-style: italic;
}


.annual-list h3 {
	font-weight: 500;
	font-size: 19px;
	color: #464646;
}

.annual-link {
	font-size: 17px;
}
.annual-blockquote {
	overflow: hidden;
	padding: 0 20px;
	position: relative;
 }

.annual-text {
	color: #444;
	line-height: 1.5;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 17px;

	span {
		font-weight: 600;
	}
 }
 
.annual-info blockquote::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #1e4356;
	// margin-top: 20px;
	// margin-bottom: 20px;
 }


/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

.my-custom-scrollbar {
	position: relative;
	height: 390px;
	overflow-y: auto;
	}

.table-wrapper-scroll-y {
	display: block;
}


.observ-table {

	width: 100%;
	border: 0.5px solid #b9b9b9;

	thead {
		background: rgba(102, 153, 180, 0.8);
	}

	tr {

		&:nth-of-type(2n) {
			background-color: rgba(136, 201, 235, 0.3);
		}
	}

	td {
		padding: 8px;
		width: 25%;
		border-top: 0.5px solid  #cacaca;
		border-bottom: 0.5px solid  #cacaca;
		border-left: 0.5px solid  #9c9c9c;
		border-right: 0.5px solid  #9c9c9c;
		font-size: 18px;
		text-align: center;

		
		&:first-child {
			font-weight: 600;
		}
	}

	th {
		border: 0.5px solid  #7e7e7e;
		padding: 10px;
		color: #313131;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
	 }

}

.download-text {
	font-style: italic;
	font-size: 15px;
	margin-bottom: 0;
}
.download-button {
	display: inline-block;
	background-color: rgb(170, 213, 236);
	border-radius: 3px;
	padding: 3px 6px;
	border: solid 1px rgb(135, 181, 206);
	color: #363636;
	cursor: pointer;
	// font-weight: 500;
}

@media (max-width: 992px) {

	.observ-table {
		td {
			padding: 7px;
			font-size: 14px;
		}
	
		th {
			padding: 7px;
			font-size: 14px;
		 }
	}
}

@media (max-width: 579px) {

	.observ-table {
		td {
			padding: 5px;
			font-size: 12px;
		}
	
		th {
			padding: 5px;
			font-size: 10px;
		 }
	}
}