@charset "UTF-8";
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/1_hero/atm2.jpg") center top no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  height: 100%;
}

#hero h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 66px;
  font-weight: 300;
}

.b-page-subtitle {
  display: inline;
  animation-delay: 0.4s;
  font-size: 22px;
  color: #e4e4e4;
  font-size: 22px;
  text-align: center;
}

.b-bsu-link {
  color: #fff;
}
.b-bsu-link:hover {
  font-size: 24px;
  transition: 0.3s;
}

.b-arrow {
  position: relative;
  bottom: 5%;
  left: 0;
  display: inline-block;
  height: 45px;
  width: 45px;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.b-arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.b-arrow-link {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Services (О нас)
--------------------------------------------------------------*/
.services .icon-box-cyan .icon i {
  color: rgb(104, 164, 196);
}

.service-details .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.service-details .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Services-details (News)
--------------------------------------------------------------*/
.service-details .card {
  background-color: transparent;
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}